* {
    box-sizing: border-box;
    -webkit-user-select: none;
	user-select: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #AAB0C8;
    font-size: 14px;
    line-height: 1.4;
    font-weight: bold;
}

.bayan {
    max-width: 300px;
    margin: 20px auto;
}

.bayan__item {
    border-top: 1px solid #35225F;
}

.bayan__input {
    appearance: none;
    -webkit-appearance: none;
    display: none;
}

.bayan__input:checked ~ .bayan__label .meme__header{
    background-color: #35225F;
    color: #fff;
}

 .bayan__input:checked ~ .bayan__label .meme__icon {
    transform: rotate(180deg);
}

.bayan__input:checked ~ .bayan__label .meme__content {
    display: block;
}  
 

.meme__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: #000;
}

.meme__content {
    display: none;
    background-color: #697191;
    padding: 10px 0;
}

.meme__img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
   
}

/* 
.bayan {
    max-width: 300px;
    margin: 20px auto;
}

.bayan:hover .bayan__title-text {
    color: #fff;
    transition: .3s;
    text-shadow: 2px 2px 2px #35225F;
}

.bayan:hover .bayan__title-icon {
    display: block;
    color: #fff;
    opacity: 1;
    transition: opacity .3s;
}

.bayan__item {
    border-top: 1px solid #35225F;
}

.bayan__item:hover {
    cursor: pointer;
}

.bayan__item:hover .bayan__title{
    background-color: #35225F;
}


.bayan__item:hover .bayan__content{
    display: block;
}
 
.bayan__input {
    appearance: none;
    -webkit-appearance: none;
    display: none;
}

.bayan__input:checked ~ .bayan__title {
    background-color: #35225F;
}

.bayan__input:checked ~ .bayan__title .bayan__title-text {
    color: #fff;
    text-shadow: 2px 2px 2px #35225F;
}

.bayan__input:checked ~ .bayan__title .bayan__title-icon {
    transform: rotate(180deg);
}

.bayan__input:checked ~ .bayan__content{
    display: block;
}

.bayan__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: #000;
    transition: background .3s, color 0.3s;
}

.bayan__title:hover {
    cursor: pointer;
    background: #35225F;
}

.bayan__title-icon {
    opacity: 0;
}

.bayan__content {
    display: none;
    background-color: #697191;
    padding: 10px 0;
}

.bayan__img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
   
} */