* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #AAB0C8;
    font-size: 16px;
    line-height: 1.4;
    font-weight: bold;
}

.bayan {
    max-width: 300px;
    margin: 20px auto;
}

.bayan:hover .bayan__title::after {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid #867BB3;
    border-left: 2px solid #867BB3;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(315deg);
}

.bayan:hover .bayan__title {
    color: #fff;
    transition: .3s;
    text-shadow: 2px 2px 2px #35225F;
}

.bayan__item {
    border: 1px solid #35225F;
    margin-bottom: 5px;
    border-radius: 5px;
}

.bayan__item:hover {
    cursor: pointer;
}

.bayan__input {
    appearance: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
    position: absolute;
}

.bayan__input:checked ~ .bayan__content{
    display: block;
}

.bayan__input:checked ~.bayan__title::after{
    transform: translateY(-50%) rotate(135deg);
}

.bayan__title {
    display: block;
    padding: 10px 15px;
    color: #000;
    transition: background .3s, color 0.3s;
    position: relative;
}

.bayan__title:hover {
    cursor: pointer;
    background: #35225F;
}

.bayan__content {
    display: none;
    background-color: #697191;
    padding: 10px 0;
}

.bayan__img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}